<div id="frame">
    <div class="content">
        <div class="contact-profile">
            <img src="https://images.realclear.com/313944_1_.png" alt="" />
            <p>Cortana for workplace</p>
            <!-- <div class="social-media">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div> -->
        </div>
        <div class="messages">
            <ul>
                <li class="replies">
                    <img src="https://images.realclear.com/313944_1_.png" alt="" />
                    <div>Good morning Ilya. What would you like me to do?</div>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" id="command-input" placeholder="Write your message..." />
                <button id="start_button" onclick="startRec(event)">
                    <i class="fa fa-microphone"></i>
                </button>
                <button class="submit">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>

    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

    <link rel='stylesheet' href='../static/stylesheets/chat.css'>
    <script>
        var recognizing = false;

        start_button.style.display = 'inline-block';
        var recognition = new webkitSpeechRecognition();
        recognition.continuous = true;
        recognition.interimResults = true;

        var start_timestamp;

        function showInfo(msg) {
            // alert(msg);
        }


        function startRec(event) {
            if (!event.isTrusted) {
                return;
            }
            if (recognizing) {
                recognition.stop();
                return;
            }
            final_transcript = '';
            recognition.lang = 'en-US'
            recognition.start();
            ignore_onend = false;
            // final_span.innerHTML = '';
            // interim_span.innerHTML = '';
            // start_img.src = 'mic-slash.gif';
            // showInfo('info_allow');
            // showButtons('none');
            // start_timestamp = event.timeStamp;
        }


        recognition.onstart = function () {
            recognizing = true;
            showInfo('info_speak_now');
            // start_img.src = 'mic-animate.gif';
        };

        recognition.onerror = function (event) {
            if (event.error == 'no-speech') {
                // start_img.src = 'mic.gif';
                showInfo('info_no_speech');
                ignore_onend = true;
            }
            if (event.error == 'audio-capture') {
                // start_img.src = 'mic.gif';
                showInfo('info_no_microphone');
                ignore_onend = true;
            }
            if (event.error == 'not-allowed') {
                if (event.timeStamp - start_timestamp < 100) {
                    showInfo('info_blocked');
                } else {
                    showInfo('info_denied');
                }
                ignore_onend = true;
            }
        };

        recognition.onend = function () {
            recognizing = false;
            if (ignore_onend) {
                return;
            }
            // start_img.src = 'mic.gif';
            if (!final_transcript) {
                showInfo('info_start');
                return;
            }
            showInfo('');
            if (window.getSelection) {
                window.getSelection().removeAllRanges();
                var range = document.createRange();
                range.selectNode(document.getElementById('final_span'));
                window.getSelection().addRange(range);
            }
            if (create_email) {
                create_email = false;
                createEmail();
            }
        };

        recognition.onresult = function (event) {
            var interim_transcript = '';
            for (var i = event.resultIndex; i < event.results.length; ++i) {
                if (event.results[i].isFinal) {
                    final_transcript += event.results[i][0].transcript;
                } else {
                    interim_transcript += event.results[i][0].transcript;
                }
            }
            // final_transcript = (final_transcript);
            $('#command-input').val($('#command-input').val() + ' ' + final_transcript);
            // final_span.innerHTML = linebreak(final_transcript);
            // interim_span.innerHTML = linebreak(interim_transcript);
            // if (final_transcript || interim_transcript) {
            //     showButtons('inline-block');
            // }
        };

        $(".messages").animate({ scrollTop: $(document).height() }, "fast");

        $("#profile-img").click(function () {
            $("#status-options").toggleClass("active");
        });

        $(".expand-button").click(function () {
            $("#profile").toggleClass("expanded");
            $("#contacts").toggleClass("expanded");
        });

        $("#status-options ul li").click(function () {
            $("#profile-img").removeClass();
            $("#status-online").removeClass("active");
            $("#status-away").removeClass("active");
            $("#status-busy").removeClass("active");
            $("#status-offline").removeClass("active");
            $(this).addClass("active");

            if ($("#status-online").hasClass("active")) {
                $("#profile-img").addClass("online");
            } else if ($("#status-away").hasClass("active")) {
                $("#profile-img").addClass("away");
            } else if ($("#status-busy").hasClass("active")) {
                $("#profile-img").addClass("busy");
            } else if ($("#status-offline").hasClass("active")) {
                $("#profile-img").addClass("offline");
            } else {
                $("#profile-img").removeClass();
            };

            $("#status-options").removeClass("active");
        });

        function newMessage() {
            message = $(".message-input input").val();
            if ($.trim(message) == '') {
                return false;
            }
            appendSent(message);
            getTaskResponse(message);
        };

        function getTaskResponse(message) {
            $.ajax({
                type: "POST",
                url: "https://localhost:5000/interpret-command",
                data: message,
                success: appendReply,
                dataType: "text"
            });
        }

        function appendReply(message) {
            $('<li class="replies"><img src="https://images.realclear.com/313944_1_.png" alt="" />' + message + '</li>').appendTo($('.messages ul'));
            $('.message-input input').val(null);
            $('.contact.active .preview').html('<span>You: </span>' + message);
            $(".messages").animate({ scrollTop: $(document).height() }, "fast");
        }

        function appendSent(message) {
            $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><div>' + message + '</div></li>').appendTo($('.messages ul'));
            $('.message-input input').val(null);
            $('.contact.active .preview').html('<span>You: </span>' + message);
            $(".messages").animate({ scrollTop: $(document).height() }, "fast");
        }

        $('.submit').click(function () {
            if (recognizing) {
                recognition.stop();
            }
            newMessage();
        });

        $(window).on('keydown', function (e) {
            if (e.which == 13) {
                newMessage();
                return false;
            }
        });
    //# sourceURL=pen.js
    </script>
</div>