<html>
<head>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="css/messaging.css" rel="stylesheet">
</head>

<body>
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="http://emilcarlsson.se/assets/mikeross.png" alt="Ilya"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Tell my wife I'll be late</p>
                  <span class="time_date"> 6:01 PM    |    Yesterday</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>You'd better not to</p>
                <span class="time_date"> 6:15 PM    |    Yesterday</span> </div>
              <div style="float:right; width:8%;" class="incoming_msg_img"> <img src="img/user-female-circle.png" alt="wifey"> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="http://emilcarlsson.se/assets/mikeross.png" alt="ilya"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Tell my boss that I reached our FY numbers</p>
                  <span class="time_date"> 8:15 PM    |    Yesterday</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Ok, you can go home :) </p>
                <span class="time_date"> 9:00 PM    |    Yesterday</span> </div>
                <div style="float:right;" class="incoming_msg_img"> <img src="img/boss.png" alt="Boss" float:"right"> </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      
    </div></div>
    </body>
    </html>