<div>
    <div class="container">
        <h3 class=" text-center">Your messages</h3>
        <div class="messaging">
            <div class="inbox_msg">
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="incoming_msg">
                            <div class="incoming_msg_img">
                                <img class="dp" src="http://emilcarlsson.se/assets/mikeross.png" alt="Ilya"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Tell my wife I'll be late</p>
                                    <span class="time_date"> 6:01 PM | Yesterday</span>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>You'd better not to</p>
                                <span class="time_date"> 6:15 PM | Yesterday</span>
                            </div>
                            <div style="float:right; width:8%;" class="incoming_msg_img">
                                <img src="../static/img/user-female-circle.png" alt="wifey"> </div>
                        </div>
                        <div class="incoming_msg">
                            <div class="incoming_msg_img">
                                <img class="dp" class="dp" src="http://emilcarlsson.se/assets/mikeross.png" alt="ilya"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>Tell my boss that we reached our FY numbers</p>
                                    <span class="time_date"> 8:15 PM | Yesterday</span>
                                </div>
                            </div>
                        </div>
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>Ok, you can go home :) </p>
                                <span class="time_date"> 9:00 PM | Yesterday</span>
                            </div>
                            <div style="float:right;" class="incoming_msg_img">
                                <img src="https://ptetutorials.com/images/user-profile.png" alt="Boss" float: "right"> </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>