<head>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

  <link href="../static/stylesheets/taskssettings.css" rel="stylesheet">
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <link href="../static/stylesheets/stylish-portfolio.min.css" rel="stylesheet">


  <!-- Bootstrap Core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">
  <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="/">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#Messages">Messages</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#Corporate">Corporate</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="taskssettings">Tasks</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#HR">HR</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#Device">Device</a>
      </li>
    </ul>
  </nav>


  <div class="container col-md-12 col-md-offset-4">
    <div class="row">
      <div class="col-md-12" style="margin-left: 40%;
      margin-top: 15%;">
        <div class="well well-sm col-md-10 col-md-offset-8">
          <form class="form-horizontal" action="" method="post">
            <fieldset>
              <h2>Task settings</h2>

              <!-- Start Day Time input-->
              <div class="row form-group">
                <label class="col-md-3 control-label">Day start time</label>
                <div class="col-md-2">
                  <input id="startDay" type="time" class="form-control">
                </div>
              </div>

              <!-- End Day time input-->
              <div class="row form-group">
                <label class="col-md-3 control-label">Day end time</label>
                <div class="col-md-2">
                  <input id="endDay" type="time" class="form-control">
                </div>
              </div>

              <!-- Lunch time input-->
              <div class="row form-group">
                <label class="col-md-3 control-label"> Lunch time </label>
                <div class="col-md-2">
                  <input class="form-control" id="lunch" type="time"></input>
                </div>
              </div>
              <!-- Submit button-->
              <div class="row form-group">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="../static/js/stylish-portfolio.min.js"></script>

</body>